header {
  background-color:blue;
}
.column-1 {position: relative;
top: 0;
  width: 345px;
  height: 40%;
  background: #ee3e64;
}
.column-2{position: absolute;
top: 136px;
right: 58px;
  width: 340px;
  background: #44accf;
  font-family: helvetica;
}
footer{top:0;
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
body{background-color: purple;}