header {
    background-color:orange;
    text-align:center;
    padding:5px;
}
.column-1 {
  background-color:blue;
  display:inline-block;
  vertical-align:top;
  width:450px;
  margin-left:10%;
  padding: 10px;
  border:solid;
  font-family: Helvetica;
  color:orange;
}
.column-2 {
  background-color:green;
  display:inline-block;
  vertical-align:top;
  width:450px;
  margin-right:10%;
  padding: 10px;
  border:solid;
  font-family: Helvetica;
  color:blue;
}
footer {
    background-color:orange;
    text-align:center;
    padding:5px;
}