<!DOCTYPE html>
<html>
<head>
  <title>DevBootCamp</title>
</head>
<body>
  <h1>Chicago Campus Red Pandas</h1>
    <form action="/comrades" method="POST">
      <input type="text" name="name" placeholder="Name">
      <select name="Start Date">
        <option value="June 10">June 10</option>
        <option value="July 11">July 11</option>
        <option value="August 8">August 8</option>
      </select>
      <button type="subit">Enter</button>
</body>
</html>